/* CSS Custom Properties Definitions */
@import url('./button');
@import url('./helper');
@import url('./normalize');
@import url('./typography');

/* ==========================================================================
1. VARIABLES
========================================================================== */
:root {
  /* Layout */
  --grid-desktop: 1164px;
  --grid-mobile: 780px;
  
  /* Typography */
  --base-font-size: 16px;
  --base-font-family: "p22-mackinac-pro", serif;
  --base-font-weight: 400;
  --base-line-height: 90%;
  
  /* Standard Colors */
  --black: #000000;
  --white: #ffffff;
  
  /* Brand Colors */
  --forest-green: #00370D;
  --kelly-green: #004C12;
  --neon-green: #CCFC51;
  --sky-blue: #B7EAFF;
  --light-blue: #D0F1FF;
  --peach: #FDF6EC;
  
  /*UI Colors*/
  --ui-grey-100: #E9E9E9;
  --ui-grey-200: #C4C4C4;
  --ui-grey-300: #C8C8C8;
  --ui-grey-400: #ABADAD;
  --ui-grey-500: #9E9E9E;
  --ui-grey-600: #6E6F6F;
  --ui-grey-700: #00111D;
  --ui-grey-800: #0F0F0F;
}

