/* CSS Custom Properties Definitions */
@import url('./button');
@import url('./helper');
@import url('./normalize');
@import url('./typography');

:root {
  /* Layout */
  --grid-desktop: 1222px;
  --grid-mobile: 780px;
  
  /* Typography */
  --base-font-size: 16px;
  --base-font-family: "p22-mackinac-pro", serif;
  --base-font-weight: 400;
  --base-line-height: 90%;
  
  /* Standard Colors */
  --black: #000000;
  --white: #ffffff;
  
  /* Brand Colors */
  --forest-green: #00370D;
  --kelly-green: #004C12;
  --leaf-green: #00772A;
  --neon-green: #CCFC51;
  --sky-blue: #B7EAFF;
  --light-blue: #D0F1FF;
  --peach: #FDF6EC;
  
  /*UI Colors*/
  --grey-100: #D6D7D9;
  --grey-200: #B6BDC4;
  --grey-300: #8996A1;
  --grey-400: #02340E;
}

