.hero-container {
    background: var(--forest-green);
}

.hero-container h1 {
    font-family: 'Druk Condensed';
    font-size: 26vw;
    line-height: 1;
    white-space: nowrap;
}

.hero-container .named-layout {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 340px;
    grid-template-areas:
        "image subhead"
        ". paragraph";
    transform: translateY(-30px);
}

.hero-container .named-layout h4 {
    align-self: flex-end;
    grid-area: subhead;
}

.hero-container .named-layout p {
    grid-area: paragraph;
}

.hero-container .toc-wrapper > .p2 {
    border-top: 1px solid var(--neon-green);
    border-bottom: 1px solid var(--neon-green);
    padding: 15px 0;
}

.hero-container .links-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 15px;
}