/******INTRO******/
.ch_2-container .eyebrow {
    border: 2px solid var(--kelly-green);
    border-radius: 100px;
    padding: 14px 20px 12px 20px;
    width: max-content;
}

.ch_2-container .intro h2,
.ch_2-container .intro p {
    max-width: 700px;
}


/******SECTION 1******/
.ch_2-container .section_1-container .base-grid {
    grid-gap: 180px;
}

.ch_2-container .section_1-container .table-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 100px;
}

.ch_2-container .section_1-container .table-section:last-of-type {
    grid-template-columns: 2fr 3fr;
}

.ch_2-container .section_1-container .table-item {
    border-top: 1px solid var(--kelly-green);
}

.ch_2-container .section_1-container .table-item h3 {
    margin-right: 40px;
}

.ch_2-container .section_1-container .table-item h3 span {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 95%;
    text-transform: uppercase;
}

.ch_2-container .section_1-container .table-item p span {
    font-weight: 800;
}

.ch_2-container .section_1-container .table-section:last-of-type .image-wrapper {
    order: -1;
}


/******SECTION 2******/
/*Chart*/
.ch_2-container .section_2-container .base-grid {
    grid-template-columns: 275px 1fr;
    grid-gap: 100px;
}

.ch_2-container .section_2-container .chart-legend {
    background: rgba(0, 119, 42, 0.4);
    border-radius: 16px;
    max-width: 211px;
    padding: 25px;
}

.ch_2-container .section_2-container .chart-legend p {
    margin-bottom: 12px;
}

.ch_2-container .section_2-container .chart-legend p svg {
    margin-right: 8px;
    vertical-align: text-bottom;
}

.ch_2-container .section_2-container .chart-wrapper {
    position: relative;
}

.ch_2-container .section_2-container .chart-box {
    background: var(--kelly-green);
    border-radius: 16px;
    padding: 24px;
    position: absolute;
}

.ch_2-container .section_2-container .chart-box.theme-neon-green {
    border: 1px solid var(--neon-green);
    max-width: 250px;
    top: 10%;
    left: 0;
}

.ch_2-container .section_2-container .chart-box.theme-white {
    border: 1px solid var(--white);
    max-width: 245px;
    top: 0;
    right: 0;
}

.ch_2-container .section_2-container .chart-box.theme-sky-blue {
    border: 1px solid var(--sky-blue);
    max-width: 200px;
    bottom: 0;
    right: 17%;
}

/*Tables*/
.ch_2-container .section_2-container .tables-container {
    background: linear-gradient(90deg, var(--white) 0%, var(--white) 49.99%, var(--peach) 50%);
}

.ch_2-container .section_2-container .tables-container .base-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20%;
}

.ch_2-container .section_2-container .table-item {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-top: 30px;
}

.ch_2-container .section_2-container .table-item:first-of-type {
    border-top: 1px solid var(--kelly-green);
    margin-top: 20px;
    padding-top: 30px;
}

.ch_2-container .section_2-container .table-item h3 {
    margin-right: 40px;
}

.ch_2-container .section_2-container .table-item h3 span {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 95%;
    text-transform: uppercase;
}

