.ch_2-container .eyebrow {
    border: 2px solid var(--kelly-green);
    border-radius: 100px;
    padding: 14px 20px 12px 20px;
    width: max-content;
}

.ch_2-container .intro h2,
.ch_2-container .intro p {
    max-width: 700px;
}

.ch_2-container .section_1-container .base-grid {
    grid-gap: 180px;
}

.ch_2-container .section_1-container .table-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 100px;
}

.ch_2-container .section_1-container .table-section:last-of-type {
    grid-template-columns: 2fr 3fr;
}

.ch_2-container .section_1-container .table-item {
    border-top: 1px solid var(--kelly-green);
}

.ch_2-container .section_1-container .table-item h3 {
    margin-right: 40px;
}

.ch_2-container .section_1-container .table-item h3 span {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 95%;
    text-transform: uppercase;
}

.ch_2-container .section_1-container .table-item p span {
    font-weight: 800;
}

.ch_2-container .section_1-container .table-section:last-of-type .image-wrapper {
    order: -1;
}

.ch_2-container .section_2-container .chart-container .base-grid {
    grid-template-columns: 275px 1fr;
}

.ch_2-container .section_2-container .chart-container .chart-legend {
    background: rgba(0, 119, 42, 0.4);
    border-radius: 16px;
    padding: 25px;
}

.ch_2-container .section_2-container .chart-container .chart-legend p {
    margin-bottom: 12px;
}

.ch_2-container .section_2-container .chart-container .chart-legend p svg {
    margin-right: 8px;
    vertical-align: text-bottom;
}

