/*INTRO SECTION*/
.chapter_one-container .base-grid.intro {
    grid-template-columns: 1fr 360px;
}

.chapter_one-container .eyebrow {
    border: 2px solid var(--kelly-green);
    border-radius: 100px;
    padding: 14px 20px 12px 20px;
    width: max-content;
}

.chapter_one-container .intro .images {
    height: calc(100% + 165px);
}

.chapter_one-container .intro .images .image-wrapper:first-of-type {
    transform: translateY(-20px);
}

.chapter_one-container .intro .images .image-wrapper:last-of-type {
    transform: translateY(20px);
}

/*SECTION 1*/
.section_1-container .chart-legend {
    border-top: 1px solid var(--kelly-green);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 30px;
}

.section_1-container .chart-legend .item {
    padding-left: 25px;
    position: relative;
}

.section_1-container .chart-legend .item:before {
    background: var(--kelly-green);
    border-radius: 100%;
    content: '';
    height: 16px;
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
}

.section_1-container .chart-legend .item:first-of-type:before {
    background: var(--sky-blue);
}

.section_1-container .chart-legend .item:last-of-type:before {
    background: var(--neon-green);
}

.section_1-container .chart-legend .p2 {
    margin-bottom: 5px;
}

/*SECTION 2*/
.section_2-container .base-grid {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 100px;
}

.section_2-container .chart .legend {
    border-bottom: 1px solid rgb(0 76 18 / 30%);
    padding-bottom: 10px;
}