.sticky-button {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 25px;
    transition: all 250ms ease;
    width: 60px;
}

.sticky-button.hidden {
    transform: translateY(65px);
}

.footnotes-wrapper h4 {
    border-bottom: 1px solid var(--neon-green);
}